
.services__subtitle {
    font-size  : 2rem;
    font-weight: 500;
    color      : #ee6e6e;
    font-family: var(--subtitle-font-name);
 }
 
 .services__title {
    font-size  : 2rem;
    font-weight: 500;
 }

 .gallery__title {
    font-size    : 1.6rem;
    margin-bottom: 2.5rem;
    margin-top   : 0.8rem;
 }
 
 .masonry__img {
    transition: 0.3s;
 }
 
 .masonry__img:hover {
    transform: scale(1.1);
 }